<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_other">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumb_content text-center">
					<ul>
						<li><a href="index.html">home</a></li>
						<li><a href="#">pages</a></li>
					</ul>
					<h3>checkout</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!--breadcrumbs area end-->