<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Uthr Fashion eCommerce</title>
    <meta name="description" content="Uthr Fashion eCommerce Bootstrap 5 Template is an innovative and modern e-commerce online store website template." />

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/favicon.ico" />
    @await Html.PartialAsync("Components/_Styles.cshtml")

</head>
<body>
    @await Html.PartialAsync("Components/_OffCanvasMenu.cshtml")
    @await Html.PartialAsync("Components/_MiniCart.cshtml")
    @await Html.PartialAsync("Components/_HeaderArea.cshtml")

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @await Html.PartialAsync("Components/_FooterArea.cshtml")
    @await Html.PartialAsync("Components/_Scripts.cshtml")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>