<div class="shop_banner d-flex align-items-center" data-bgimg="/assets/img/bg/shop_bg.jpg">
    <div class="shop_banner_text">
        <h2>essential <br> wears</h2>
        <p>The collections basic items <br> essential for all girls</p>
    </div>
</div>