<div class="pagination_style pagination justify-content-center">
    <ul class="d-flex">
        <li><a href="#"> << </a></li>
        <li><a href="#">1</a></li>
        <li><a class="current" href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">>></a></li>
    </ul>
</div>